.stock-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dynamic columns */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

/* Stock Card Styles */
.stock-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Arial', sans-serif;
  transition: transform 0.2s ease;
  background-color: #1CCE6D;
  color: #33485F;
  font-weight: 500;

  &.green {
    background-color: #1CCE6D;
  }

  &.red {
    background-color: #E94B35;
  }

  &.gray {
    background-color: #a29f9f;
  }

  &:hover {
    transform: scale(1.02); /* Subtle hover effect */
  }
}

/* Responsive Font Sizes for Card Content */
.stock-name {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;

  small {
    font-weight: 500;
    font-size: 1rem;
    display: block;
  }
}

.stock-price {
  font-size: 1.8rem;
  margin: 10px 0;
}

.stock-metric {
  font-size: 1.3rem;
  margin: 5px 0;
  font-weight: 300;

  span {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .stock-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Smaller columns on tablets */
    gap: 15px;
  }

  .stock-metric.hidden-mobile {
    display: none; /* Hide on mobile screens */
  }

  .stock-card {
    padding: 15px;
    text-align: center;
  }

  .stock-name {
    font-size: 1.5rem;
  }

  .stock-price {
    font-size: 1.4rem;
  }

  .stock-metric {
    font-size: 1.1rem;
  }

}


@media (max-width: 480px) {

  .stock-container {
    grid-template-columns: 1fr; /* Single column layout for mobile */
    gap: 10px; /* Reduce gap for tighter spacing */
  }

  .stock-card {
    width: 100%; /* Full-width cards */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .stock-name {
    font-size: 1.4rem;
  }

  .stock-price {
    font-size: 1.2rem;
  }

  .stock-metric {
    font-size: 1rem;

    span {
      font-size: 0.9rem;
    }
  }
}
