<div class="stock-card"  [ngClass]="isEnabled ? backgroundClass : 'gray'">
  <h2 class="stock-name">
    {{ stock.symbol }} <small>{{stock.name}}</small>
  </h2>
  <p class="stock-price">
    ${{ stock.currentPrice }}
  </p>
  <p class="stock-metric">
    <span>Daily High Price</span> ${{ stock.dailyHigh }}
  </p>
  <p class="stock-metric">
    <span>Daily Low Price</span> ${{ stock.dailyLow }}
  </p>
  <p class="stock-metric">
    <span>52 Week High Price</span> ${{ stock.weekHigh52 }}
  </p>
  <p class="stock-metric">
    <span>52 Week low Price</span> ${{ stock.weekLow52 }}
  </p>
  <app-toggle-switch [isOn]="isEnabled" (toggleState)="onToggle($event)"></app-toggle-switch>
</div>
